################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudyNexus/CopilotIndices/17.14.1561.44479
/.vs/StudyNexus/FileContentIndex
/.vs/StudyNexus/v17
/.vs
