/* ======================================================
   Study Nexus � Profile Page Styles
   ====================================================== */

   
/* ======================================================
   GROUP LAYOUT
   ====================================================== */
#profileUserName{
   align-self: center;
}

#userGroups{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 1.5rem;
   margin-top: 1rem;
}

.group-content {
   background-color: var(--bg-card);
   padding: 0.8rem 1rem;
   border-radius: 10px;
   margin: 0.8rem 0;
   box-shadow: var(--shadow-soft);
}

